body{
  width: 300%;
  height: 100px;
  margin: auto;
  background-color: #252323;
}
main{
  position: relative;
}
.logo {
  float: left;
  padding-top: 25px;
  width: 17%;

}
.header-texto1{
  color: whitesmoke;
  font-family: "monstserrat";
  text-decoration: none;
}
.enviar-mensagem{
  size: 15px;
  font-size: 15px;}

.menu ul li {
  margin-left: 50px;
  display: flex;
  list-style: none;
  color: white;
}
.menu ul li a:hover{
  color: #00bac6
  
} 
.menu ul li a{
  color: white;
  font-family: "Montserrat";
  text-decoration: none;
}
.menu {
  float: right;
  padding-top: 20px;
  width: 76%;
}